---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Pre-Launch Landing Page',
};
// Schema data for family-caregiver-support page
const schemaData = {
  page: {
    type: 'service',
    title: '',
    description: '',
    url: 'https://rightaccordhealth.com/family-services/family-caregiver-support'
  }
};


import HeroImage from '~/assets/images/main-image_family-caregiver.jpg';
---

<Layout metadata={metadata} schemaData={schemaData}>
  <!-- Hero Widget ******************* -->

  <Hero
    title="Family Caregiver Support"
    subtitle="Compassionate caregiving: tools and assistance for family support"
    actions={[{ text: 'Learn more', href: '#learn-more' }]}
    image={{
      src: HeroImage,
      alt: 'Store with a Coming Soon sign. Pre-launch Landing Page',
      width: '2024',
    }}
  />

  <div
    id="learn-more"
    class="max-w-7xl mx-auto text-xl gap-5 leading-relaxed mb-10 p-5 flex flex-col mt-10 scroll-m-24"
  >
    <h2 class="font-semibold text-2xl">Caregiver support groups</h2>
    <p>Florida Gulf Coast Chapter</p>
    <p>
      Alzheimer’s Association-Florida Gulf Coast Chapter affiliated support groups are for family members, caregivers
      and others interested in learning more about Alzheimer’s disease. Meetings are open to everyone and free of
      charge. Support group facilitators have received training as required by the Chapter and National Alzheimer’s
      Association standards. For program information and to verify meeting dates, times, and locations, please use the
      telephone contacts listed below. For other questions or to arrange free respite care so you can attend a group,
      call our Sarasota office at (941) 365-8883 or 1-800-272-3900.
    </p>
    <div>
      <p>Facilitator: Rose Tamunday-Casanova, RN, BSN, MHA</p>
      <p>Administrator: RIGHT ACCORD Private Duty-Home Health Care</p>
      <p>Phone: (941) 957-8267</p>
    </div>

    <h2 class="font-semibold text-2xl mt-10">Location and times:</h2>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-5">
      <div
        class="rounded-lg shadow-slate-400 shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6"
      >
        <p class="text-xl font-bold">The Church or Hope</p>
        <p class="text-muted mt-2">1560 Wendall Kent Road</p>
        <p class="text-muted mt-2">1st Friday at 2:00 p.m.</p>
      </div>
      <div
        class="rounded-lg shadow-slate-400 shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6"
      >
        <p class="text-xl font-bold">The Fountains at Lake Pointe Woods</p>
        <p class="text-muted mt-2">3260 Lake Pointe Boulevard</p>
        <p class="text-muted mt-2">2nd Tuesday at 6:00 p.m.</p>
      </div>
      <div
        class="rounded-lg shadow-slate-400 shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6"
      >
        <p class="text-xl font-bold">Harbor Chase</p>
        <p class="text-muted mt-2">5311 Proctor Road</p>
        <p class="text-muted mt-2">2nd Wednesday at 2:00 p.m.</p>
      </div>
      <div
        class="rounded-lg shadow-slate-400 shadow-[0_4px_30px_rgba(0,0,0,0.1)] dark:shadow-[0_4px_30px_rgba(0,0,0,0.1)] backdrop-blur border border-[#ffffff29] bg-white dark:bg-slate-900 p-6"
      >
        <p class="text-xl font-bold">Heron Club at Prestancia</p>
        <p class="text-muted mt-2">3749 Sarasota Square Boulevard</p>
        <p class="text-muted mt-2">3rd Tuesday at 11:00 a.m.</p>
      </div>
    </div>
    <p>
      All meetings are free and open to the public. For more information, please contact Erin Killian at the Alzheimer’s
      Association, Sarasota Office, (941) 365-8883.
    </p>
    <p>
      <strong>RSVPs are appreciated.</strong>
    </p>
  </div>
</Layout>
