---
import Layout from '~/layouts/PageLayout.astro';

//import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
//import Note from '~/components/widgets/Note.astro';
import Features5 from '~/components/widgets/Features5.astro';
//import Features2 from '~/components/widgets/Features2.astro';
import Features6 from '~/components/widgets/Features6.astro';
//import Steps from '~/components/widgets/Steps.astro';
//import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
//import Stats from '~/components/widgets/Stats.astro';
//import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Home Health Care Sarasota, FL | Right Accord',
  ignoreTitleTemplate: true,
};
import IconTime from '~/assets/icons/icon-time.svg?raw';
import IconHome from '~/assets/icons/icon-home.svg?raw';
import IconNurse from '~/assets/icons/icon-nurse.svg?raw';
import IconStaff from '~/assets/icons/icon-staff.svg?raw';
import IconElder from '~/assets/icons/icon-elder.svg?raw';
import IconPackage from '~/assets/icons/icon-package.svg?raw';
import IconVeteran from '~/assets/icons/icon-veteran.svg?raw';
import IconInsurance from '~/assets/icons/icon-insurance.svg?raw';
import IconFacility from '~/assets/icons/icon-facility.svg?raw';

import Brands from '~/components/widgets/Brands.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Features4 from '~/components/widgets/Features4.astro';

// Image variables
const HeroImage = '/src/assets/images/elderly-home-health-care-venice-sarasota-manatee.webp';
const Alz = '/src/assets/images/fgrid-image1_dlgl66_c_scale,w_900.jpg';
const Park = '/src/assets/images/fgrid-image2_rnl0fg_c_scale,w_600.jpg';
const Stroke = '/src/assets/images/fgrid-image3_abwgxo_c_scale,w_600.jpg';
const Surg = '/src/assets/images/fgrid-image4_jjue7v_c_scale,w_600.jpg';
const Hospice = '/src/assets/images/fgrid-image5_zwmoce_c_scale,w_600.jpg';
const LWRBALogo = '/src/assets/images/LWRBA-Logo-WEB.png';
const IFALogo = '/src/assets/images/IFA-Logo-300x209.png';
const SarasotaMemorial = '/src/assets/partners/sarasota-memorial.webp';
const AmericanCancerSociety = '/src/assets/partners/american-cancer-society.webp';
const DoctorsHospital = '/src/assets/partners/doctors-hospital.webp';
const LakewoodRanchMC = '/src/assets/partners/lakewood-ranch-mc.webp';
const ParkinsonPlace = '/src/assets/partners/parkinson-place.webp';
const TidewellHospice = '/src/assets/partners/tidewell-hospice.webp';
const DepartmentOfElderAffairs = '/src/assets/partners/department-of-elder-affairs.webp';
const USDVA = '/src/assets/partners/us-department-of-veterans-affairs.webp';
const LighthouseOfManasota = '/src/assets/partners/lighthouse-of-manasota.webp';
const FriendshipCenters = '/src/assets/partners/friendship-centers.webp';
const SCAT = '/src/assets/partners/scat.webp';
const AlzheimerAssociation = '/src/assets/partners/alz.webp';
const LernerCohen = '/src/assets/partners/lerner-cohen.webp';
const PayneLawGroup = '/src/assets/partners/payne-lawgroup.webp';
const ITNSuncoast = '/src/assets/partners/itn-suncoast.webp';

---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="Caregivers for your loved ones"
    title="We care for your family with the respect and dignity they deserve"
    subtitle="RIGHT ACCORD Home Health Care is local, family owned and operated. We are very passionate about helping seniors and we treat each elderly home care client like our own family."
    actions={[
      { variant: 'primary', text: 'Schedule Appointment', href: '#', icon: 'tabler:calendar-heart' },
      { text: 'Contact Us', href: '#' },
    ]}
    image={{
      src: HeroImage,
      alt: 'Children telling a story. Long-form Sales Landing Page demo',
    }}
  />

  <Features6
    title="Right Accord specialty care services"
    subtitle="We highly specialized in 24 hour care for cases such as in Dementia and Alzheimer's Care, Parkinsons, Stroke and End of Life Care or Hospice Care. Our caregivers have extensive trainings and receive ongoing training while working at Right Accord. Our Seniors and Caregiver Wellness Program focuses on Holistic Approach to total well being that embraces natural balance on mind, body, spirit, food and sleep."
    items={[
      {
        title: `Alzheimer's Care`,
        description:
          'Right Accord team of certified dementia caregivers understands the disease and they develop skills and attitudes that are helpful when working with seniors with alzheimer’s disease',
        icon: 'flat-color-icons:document',
        image: {
          src: Alz,
          alt: 'Children telling a story. Long-form Sales Landing Page demo',
        },
      },
      {
        title: 'Parkinson’s Care',
        description:
          'Our caregivers help elderly with parkinson’s disease through personal care and the activities of daily living.',
        icon: 'flat-color-icons:template',
        image: {
          src: Park,
          alt: 'Children telling a story. Long-form Sales Landing Page demo',
        },
      },
      {
        title: 'Afterstroke Care',
        description:
          'Right Accord’s caregiver experts create strategies to help stroke survivors go through their recovery very quickly.',
        icon: 'flat-color-icons:voice-presentation',
        image: {
          src: Stroke,
          alt: 'Children telling a story. Long-form Sales Landing Page demo',
        },
      },
      {
        title: 'Post-Surgical Care',
        description:
          'Right Accord’s in-home care helps client to recuperate after hospitalization or after the surgery.',
        icon: 'flat-color-icons:voice-presentation',
        image: {
          src: Surg,
          alt: 'Children telling a story. Long-form Sales Landing Page demo',
        },
      },
      {
        title: 'Hospice Care',
        description: 'Our caregivers receives special training from tidewell hospice team of professionals.',
        icon: 'flat-color-icons:voice-presentation',
        image: {
          src: Hospice,
          alt: 'Children telling a story. Long-form Sales Landing Page demo',
        },
      },
    ]}
  />

  <FAQs
    title="Why is Right Accord your caregiver and companion company of choice?"
    items={[
      {
        description:
          'RIGHT ACCORD Private Duty Home Health Care is a Home Care agency licensed by the Florida Agency for Health Care Administration (AHCA). We are nurse owned, and independently operating in the business for more than 12 years.',
        icon: 'tabler:chevrons-right',
      },
      {
        description: `We offer our clients the best and compassionate care they deserve like meal preparation and other private duty care services at the comfort of their homes. Our Electronic Caregiver Technology is a state of the art modern personal emergency response system available to our clients.`,
        icon: 'tabler:chevrons-right',
      },
      {
        description:
          'Our mission is to provide consistent caregivers for every senior clients, who are struggling with independence, helping them anywhere from few hours to 24 hours of care. We firmly believe that Home Care service must be delivered as if it were being provided by the family.',
        icon: 'tabler:chevrons-right',
      },
      {
        description: `We helped many seniors in our community and most remained with us until the end. Our longest client we helped for 10 years is allowing her to remain at home safely and comfortably with the help of our 24-hour caregivers.`,
        icon: 'tabler:chevrons-right',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <Features4
    title="Right Accord is a proud member of"
    columns={2}
    classes={{
      container: 'max-w-xs sm:max-w-3xl',
      items: {
        panel: 'p-0',
      },
    }}
    items={[
      {
        image: {
          src: LWRBALogo,
          alt: 'Children telling a story. Long-form Sales Landing Page demo',
          width: 'auto',
          height: '100',
        },
      },
      {
        image: {
          src: IFALogo,
          alt: 'Children telling a story. Long-form Sales Landing Page demo',
          width: 'auto',
          height: '80',
        },
      },
    ]}
  />

  <!-- Features Widget *************** -->

  <Features5
    id="features"
    tagline="Services"
    title="Our services customized to your needs"
    subtitle="Right Accord believes that home care service must be delivered as if it were being provided by the family. We know that everyone is different so we provide customized service programs, each of our clients receives care based upon his or her individual needs."
    items={[
      {
        title: 'Houly Care or 24-Hour Care',
        description:
          'We provide hourly care or 24-hour care. Our caregivers are available 24/7 to provide the care and support you need.',
        icon: IconTime,
      },
      {
        title: 'Live-in Home Care',
        description:
          'Our live-in home care services are a great option for those who need around-the-clock care and support.',
        icon: IconHome,
      },
      {
        title: 'Skilled Nursing',
        description:
          'Our skilled nursing services are provided by licensed and certified nurses who are experienced in providing care to seniors.',
        icon: IconNurse,
      },
      {
        title: 'Staffing Services',
        description:
          'We provide staffing services to hospitals, nursing homes, and other healthcare facilities in Sarasota, FL.',
        icon: IconStaff,
      },
      {
        title: 'Senior Care Advisors',
        description:
          "Our senior care advisors are available to help you find the right care solution for your loved one's needs.",
        icon: IconElder,
      },
      {
        title: 'Home Care Packages',
        description:
          'We offer home care packages that are designed to meet the needs of our clients and their families.',
        icon: IconPackage,
      },
      {
        title: 'Veteran Aid & Attendant Benefits',
        description:
          'We provide assistance to veterans and their spouses in applying for the VA Aid & Attendance benefits.',
        icon: IconVeteran,
      },
      {
        title: 'Long Term Care Insurance',
        description: 'We work with long term care insurance companies to help you get the most out of your policy.',
        icon: IconInsurance,
      },
      {
        title: 'Senior Facility Relocation',
        description: 'We provide assistance to seniors who are moving to a new home or senior living facility.',
        icon: IconFacility,
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features5>

  <Brands
    title="Trusted Partners"
    subtitle="Trusted Services and Organizations we like and recommend!"
    icons={[]}
    images={[
      {
        src: SarasotaMemorial,
        alt: 'Sarasota Memorial Health Care System',
      },
      {
        src: AmericanCancerSociety,
        alt: 'American Cancer Society',
      },
      {
        src: DoctorsHospital,
        alt: 'Doctors Hospital of Sarasota',
      },
      {
        src: LakewoodRanchMC,
        alt: 'Lakewood Ranch Medical Center',
      },
      {
        src: ParkinsonPlace,
        alt: 'Parkinson Place',
      },
      {
        src: TidewellHospice,
        alt: 'Tidewell Hospice',
      },
      {
        src: DepartmentOfElderAffairs,
        alt: 'Department of Elder Affairs',
      },
      {
        src: USDVA,
        alt: 'US Department of Veterans Affairs',
      },
      {
        src: LighthouseOfManasota,
        alt: 'Lighthouse of Manasota',
      },
      {
        src: FriendshipCenters,
        alt: 'Friendship Centers',
      },
      {
        src: SCAT,
        alt: 'Sarasota County Area Transit',
      },
      {
        src: AlzheimerAssociation,
        alt: 'Alzheimer’s Association',
      },
      {
        src: LernerCohen,
        alt: 'Lerner Cohen',
      },
      {
        src: PayneLawGroup,
        alt: 'Payne Law Group',
      },
      {
        src: ITNSuncoast,
        alt: 'ITN Suncoast',
      },
    ]}
  />

  <Testimonials
    title="What our clients say about us"
    testimonials={[
      {
        testimonial: `Thank you for the cooperative and professional way that Rosemarie and the Caregivers have served us. We look forward to a long future and pleasant relationship with you.`,
        name: 'w.G.',
        job: 'Sarasota, FL',
        image: {
          src: '/src/assets/images/profile-placeholder.webp',
          alt: 'Cary Kennedy Image',
        },
      },
      {
        testimonial: `Yes, I would recommend Right Accord for obtaining professional and skilled Care Providers. I am pleased with the service and I know that I have skilled help on a daily basis.`,
        name: 'J.U.',
        job: 'Sarasota, FL',
        image: {
          src: '/src/assets/images/profile-placeholder.webp',
          alt: 'Josh Wilkinson Image',
        },
      },
      {
        testimonial:
          'I will definitely use Right Accord again. It is a very well run organization and all the people I was in contact with were very kind and considerate.',
        name: 'L.A.',
        job: 'Sarasota, FL',
        image: {
          src: '/src/assets/images/profile-placeholder.webp',
          alt: 'Sidney Hansen Image',
        },
      },
    ]}
    callToAction={{
      text: 'Read more testimonials',
      href: '/about-us/testimonials',
      icon: 'tabler:chevron-right',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Testimonials>

  <Features3
    title="Our service areas"
    subtitle="We are serving our clients in:"
    columns={4}
    defaultIcon="tabler:point-filled"
    classes={{
      items: {
        container: 'md:gap-y-6 place-items-center sm:place-items-start',
      },
    }}
    items={[
      {
        title: 'Sarasota & Manatee Counties',
      },
      {
        title: 'Sarasota',
      },
      {
        title: 'Longboat Key',
      },
      {
        title: 'Siesta Key',
      },
      {
        title: 'Bird Key',
      },
      {
        title: 'Lido Beach',
      },
      {
        title: 'Casey Key',
      },
      {
        title: 'Lakewood Ranch',
      },
      {
        title: 'Bradenton',
      },
      {
        title: 'Venice, FL',
      },
      {
        title: 'Osprey',
      },
      {
        title: 'Nokomis',
      },
      {
        title: 'Englewood',
      },
      {
        title: 'North Port',
      },
      {
        title: 'Anna Maria Island',
      },
      {
        title: 'Holmes Beach',
      },
    ]}
  />

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14185.55753792691!2d-82.4930632!3d27.2696738!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd63ddd79e3387a8c!2sRight%20Accord%20Private%20Duty-Home%20Health%20Care%20-%20Caregivers%20%26%20Companions!5e0!3m2!1sen!2sph!4v1573807050260!5m2!1sen!2sph"
    width="100%"
    height="500"
    style="border:0;"
    allowfullscreen="true"></iframe>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>

  <!-- FAQs Widget ******************* -->
</Layout>
