---
import { SITE } from '~/utils/config';
---

<div class="self-center flex items-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <!-- LOGO -->
  <img src="/right-accord-logo-solo.svg" class="w-16">
  <!-- LOGO TEXT -->
  <div class="text-blue-900 flex flex-col ml-5">
    <div class="">
    RIGHT ACCORD
    </div>
    <div class="text-sm">
      Private Duty Home Health Care
    </div>
  </div>
</div>
